POSTGRES_DB=yandex_market
POSTGRES_TEST_DB=yandex_market_test
POSTGRES_USER=user
POSTGRES_PASSWORD=user

POSTGRES_PORT=5433
POSTGRES_PORT_INNER=5000
POSTGRES_HOST=haproxy
POSTGRES_EXPORTER_USER=postgres_exporter
POSTGRES_EXPORTER_PASSWORD=password
PGDATA=/var/lib/postgresql/data/pgdata

MIGRATION_VERSION=13
APP_ENV=dev
SEED_COUNT=200000
SEED_VERSION=008

DB_HOST=localhost
DB_PORT=5432
DB_NAME=yandex_market
DB_USER=user
DB_PASSWORD=user

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_BACKUP_ACCESS_KEY=backup_user
MINIO_BACKUP_SECRET_KEY=backup_password

BACKUP_RETENTION_COUNT=5
BUCKET_BACKUP_NAME=market-backups
BACKUP_INTERVAL="*/10 * * * *"
BACKUP_EXPORTER_PORT=8000